<div class='side-outline'>
  <div class='side-head'>
    <div class='title-logo'>
      <span class='a1'>R</span><span class='a2'>u</span><span class='a3'>b</span><span class='a4'>i</span><span class='a5'>'</span><span class='a6'>s</span> <span class='a1'>C</span><span class='a2'>h</span><span class='a3'>a</span><span class='a4'>t</span>
    </div>
    <div class='room-grade'>
      All Chat
    </div>
  </div>
  <div class='side'>
  </div>
</div>

<div class=study-outline>
  <div class=history>
    <p>ルービックキューブの歴史</p>
  </div>
  <div class=celebrity>
    <p>ルービックキューブに関わる人で現在自分が関心のある人</p>
  </div>
  <div class=info>
    <p>ルービックキューブに関わる情報で今関心がある情報</p>
  </div>
</div>