<div　class='home-outline'>
<h1>マイページ</h1>
  <div class='absent'>
    <p>ログイン出席簿</p>
  </div>
  <div class='profiel'>
    <p>プロフィール</p>
  </div>
  <div class='to-Aclass'>
    <p>Aclassへ</p>
  </div>
  <div class='to-Bclass'>
    <p>Bclassへ</p>
  </div>
  <div class='to-Cclass'>
    <p>Cclassへ</p>
  </div>
    <div class='to-study'>
    <p>趣味調べへ</p>
  </div>
</div>