<div class='chat-outline'>
    <div class='chat-head'>
    </div>
    <div class='chat'>
    </div>
    <div class='chat-foot'>
      <div class='form-all'>
        <%# <label class='message-all-label'>
          <span class='image-file'> %>
          <%#= image_tag('image.png', size: '30x30' ) %>
          <%# </span>
          <input type='file' class='hidden'>
        </label>
        <label class='message-all-label'> %>
          <%# <span class='movie-file'> %>
           <%#= image_tag('movie.png', size: '30x30' ) %>
           <%# </span> %>
          <%# <input type= 'file' class='hidden'>
        </label> %>
        <input class='message-all-form'>
      </div>
      <input class='message-all-send' type='image' src="https://user-images.githubusercontent.com/70368456/95151627-17d9c980-07c6-11eb-8b18-c9f28a0db6d9.png" width='30' height='30'>
    </div>
</div>