<%# <div class='head-outline'>
  <div class='head'>
      <div class='title-logo'>
        <span class='a1'>R</span><span class='a2'>u</span><span class='a3'>b</span><span class='a4'>i</span><span class='a5'>'</span><span class='a6'>s</span> <span class='a1'>C</span><span class='a2'>h</span><span class='a3'>a</span><span class='a4'>t</span>
      </div>
      <div class='room-grade'>
        All Chat
      </div>
  </div>
</div> %>