.title-logo {
     color: #FFF;
     font-size: 50px;
     font-family: 'Amatic SC', cursive;
    }

.a1 {
    color: red;
    }

.a2 {
     color: blue;
    }

.a3 {
     color: orange;
    }

.a4 {
     color: green;
    }

.a5 {
     color: white; 
    }
    
.a6 {
     color: yellow; 
    }